@model WebApp.ViewModels.MentorViewModel

@{
    ViewData["Title"] = "Create Mentor";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}


<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeOfWorkId">Type of work</label>
        <select asp-for="TypeOfWorkId" class="form-control" asp-items="ViewBag.TypeOfWorkId"></select>
        <span asp-validation-for="TypeOfWorkId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AreaIds" class="control-label"> Areas</label>
        <select asp-for="AreaIds" class="form-control" asp-items="ViewBag.AreaIds" multiple></select>
        <span asp-validation-for="AreaIds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ImageFile" class="control-label">Image</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
